.dark-high-contrast {
  --md-sys-color-primary: rgb(231 241 255);
  --md-sys-color-surface-tint: rgb(155 203 251);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(151 199 247);
  --md-sys-color-on-primary-container: rgb(0 12 25);
  --md-sys-color-secondary: rgb(226 242 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(141 202 241);
  --md-sys-color-on-secondary-container: rgb(0 13 22);
  --md-sys-color-tertiary: rgb(172 255 247);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(125 209 201);
  --md-sys-color-on-tertiary-container: rgb(0 14 13);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(16 20 24);
  --md-sys-color-on-background: rgb(224 226 232);
  --md-sys-color-surface: rgb(15 21 17);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(66 71 78);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(236 240 248);
  --md-sys-color-outline-variant: rgb(190 195 203);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 228 222);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(17 75 116);
  --md-sys-color-primary-fixed: rgb(206 229 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(155 203 251);
  --md-sys-color-on-primary-fixed-variant: rgb(0 18 34);
  --md-sys-color-secondary-fixed: rgb(198 231 255);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(145 206 245);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 19 30);
  --md-sys-color-tertiary-fixed: rgb(157 242 233);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(129 213 205);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 20 19);
  --md-sys-color-surface-dim: rgb(15 21 17);
  --md-sys-color-surface-bright: rgb(76 81 77);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(27 33 29);
  --md-sys-color-surface-container: rgb(44 50 46);
  --md-sys-color-surface-container-high: rgb(55 61 56);
  --md-sys-color-surface-container-highest: rgb(66 72 68);
  --md-extended-color-custom-color1-color: rgb(255 237 223);
  --md-extended-color-custom-color1-on-color: rgb(0 0 0);
  --md-extended-color-custom-color1-color-container: rgb(249 180 115);
  --md-extended-color-custom-color1-on-color-container: rgb(22 8 0);
}
